
*{
    padding: 0px;
    margin: 0px;
}

html {
    /* font-family:  sans-serif; */
    padding: 1rem;
    
}

body {
    /* padding: 2rem; */
    border-radius: 10px;
    box-shadow: 2px 3px 5px grey;
    background-color: #ffc439;
    font-family: 'Roboto', sans-serif;
}


p, h2, h3, span {
    font-weight: lighter;
}

table{
    width: 100%
}

button {
    text-align: center;
}

/* header  */
header{
    background-image: linear-gradient(80deg, #98EECC, #D0F5BE, white);
    padding: 2.5rem;
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px grey;
}

h1 {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
}

.bluePrint {
    border:  3px solid  #016A70;
    border-radius: 10px;
    color: #016A70;
    padding: 20px;
    font-size: 2rem;
    box-shadow: 4px 4px 4px  grey;
}

.chart {
    font-size: 2.2rem;
    color: #45FFCA;
    text-shadow: 2px 2px 2px black;
    /* line-height: 3.5rem; */
    
    
}

header button {
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    color: #98EECC;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid transparent;
    padding: 1.8rem;
    box-shadow: 2px 2px 5px wheat;
}

/* main body  */
.main-body {
    padding: 3rem 1rem;
}

form {
    margin-bottom: 30px;
}

.span {
    color: white;
    display: block;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #98EECC;
    border-radius: 10px;
    text-align: center;
}

input {
    background-color: white;
    border: 1px solid transparent;
    /* padding: 1rem; */
    padding-top: 1rem;
    padding-bottom:  1rem;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: grey;
}

.green {
    color: #0B666A;
    font-weight: bold;
}
.blueM {
    color:  blue;
    font-weight: bold;
}

#dBirth {
    width: 80%;
}

input:focus {
    outline: none;
}


.styled-input {
    border: 1px solid rgb(211, 210, 210);
    border-radius: 10px;
    margin-bottom: 10px;   
    box-shadow: 3px 3px 5px grey; 
    background-color: white;
}

.trigger-btns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 1rem;
}

.btn {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #A2FF86;
    box-shadow: 3px 3px 5px grey;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.btn:hover{
    box-shadow: 0 4px 4px 0 grey,0 8px 8px 0 grey;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
              

#yforecast {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* hidden section styles  */

.hide {
    box-shadow: 5px 5px 7px grey;
    border-radius: 10px;
    display: none;
    padding: 1rem;
    
    
}

.blue {
    color:  blue;
    text-align: center;
    font-weight: bold;
}

details {
    /* box-shadow: 2px 2px 4px grey; */
    border-radius: 5px;
    /* border: 1px solid grey; */

}

summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    /* justify-content: space-between; */
}

summary p{
    /* display: inline-block; */
    /* font-weight: 600; */
    color: black;
    padding: 0px;
    margin-left: 0px;
    font-size: .8rem;

}


details p {
    text-align: left;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    line-height: 2;
    padding-left: 2px;
    
}

.special {
    padding: 0px;
    margin-left: 2px;
}


.lined {
    border: 1px solid grey;
}

.lined p {
    border: 1px solid grey;
    padding: .2rem;
}

#cols3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid transparent;
    width: 100%;
}

#cols3 p {
    padding: 10px;    
}

.cols3-equal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#cols4Equal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.numHead  {
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #ffc439;
    color: white;
    border: 1px solid none;
    padding: .4rem;
}

.perc {
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    /* background-color:; */
    border: 2px solid none;
    padding: .4rem;
    padding-top: .8rem;
    padding-bottom: .8rem;

}

.per-div {
    border-radius: 20px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    display: grid;
    padding: .2rem;

}

.cols8 {
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.comp-div {
    border-radius: 10px;
    display: grid;
    padding: .3rem;

}

.comp {
    padding: .2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    background-color: whitesmoke;
    border-radius: 20px;
    text-align: center;
}

.border {
    border: 1px solid  black;
    font-weight: bold;
    text-align: center;
}

#small {
    font-size: .6rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
select {
    width: 100%;
    height: 40px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    font-weight: bold;
    font-size: .9rem;
    background-color: white;
    
}
#yforecast {
    font-weight: 600;
    font-size: 1.1rem;

}

#year {
    width:  100%;
    padding: 0px;
    padding-top:  15px;
    padding-bottom: 15px;
}

#ymdp {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 0px;
}

#force {
    margin-top: 10px;
}
.top-margin{
    margin-top: 10px;
}

.cols2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.f-row {
    border: 1px solid grey;
}

.s-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid grey;
}

.bold-head {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bold-head p {
    text-align: center;
    font-weight: bold;
}



.med {
    margin-top: 2px px solid grey;
}
.line1 {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    
}

.line1 {
    border: 2px solid grey;
}

.line1p {
    border-right: 1px solid grey;
}

.line2p {
    border-right: 1px solid grey;
}
.line3p {
    border-left: 1px solid grey;
}

.padlow p{
    padding-bottom: .1rem; 
}


.textpad {
    padding-left: 1rem;
    padding-bottom: .2rem;
}

.head1 {
    border: 2px solid grey;
    font-weight: bold;
    padding: 1rem;
}

.head2 {
    border: 2px solid grey;
    border-right: 1px solid transparent;
}

.rows2-nil {
    display: grid;
    grid-template-columns: 1fr;
}
.hide {
    background-color: white;
}
.main-table p{ 
    font-size: .9rem;

}


.cols2-nil{
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 2fr 1fr ;
}

.cols-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bold-description-label {
    font-size: 1.3rem;
    font-weight: bold;
    
}

.red-span {
    color: red;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.underline-bold {
    text-decoration: underline;
    font-weight: bold;
}

.redLine {
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

input::after {
    background-color: red;

}


@media (max-width: 444px) {
    .chart{
        font-size: 1.4rem;
    }
    .bluePrint{
        font-size: 1.4rem;
    }
    .span {
        font-size: 1.3rem;
    }

    details p{
        font-size: .9rem;
    } .main-table p {
        font-size: .9rem;
    }
    #cols4Equal {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width: 444px) and (max-width: 750px) {
    .bold-head p {
        font-size: .7rem;
        text-align: center;
        
    }
    #cols4Equal {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* @media  (max-width : 613px) {
    #cols4Equal {
        grid-template-columns: repeat(4, 1fr);
    }
} */