
*{
    padding: 0px;
    margin: 0px;
}

html {
    /* font-family:  sans-serif; */
    padding: 1rem;
    
}

body {
    /* padding: 2rem; */
    border-radius: 10px;
    box-shadow: 2px 3px 5px grey;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


p, h2, h3, span {
    font-weight: lighter;
}

table{
    width: 100%
}

button {
    text-align: center;
}

/* header  */
header{
    background-image: linear-gradient(80deg, #98EECC, #D0F5BE, white);
    padding: 2.5rem;
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px grey;
}

h1 {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    padding: 1rem;
}

header button {
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    color: #98EECC;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid transparent;
    padding: 1.8rem;
    box-shadow: 2px 2px 5px wheat;
}

/* main body  */
.main-body {
    padding: 3rem 1rem;
}

form {
    margin-bottom: 30px;
}

.span {
    color: white;
    display: block;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #98EECC;
    border-radius: 10px;
    text-align: center;
}

input {
    background-color: white;
    border: 1px solid transparent;
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: grey;
}


#dBirth {
    width: 80%;
}

input:focus {
    outline: none;
}

.styled-input {
    border: 1px solid rgb(211, 210, 210);
    border-radius: 10px;
    margin-bottom: 10px;   
    box-shadow: 3px 3px 5px grey; 
}

.trigger-btns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 1rem;
}

.btn {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #A2FF86;
    box-shadow: 3px 3px 5px grey;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.btn:hover{
    box-shadow: 0 4px 4px 0 grey,0 8px 8px 0 grey;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
              



/* hidden section styles  */

.hide {
    box-shadow: 5px 5px 7px grey;
    border-radius: 10px;
    /* display: none; */
    padding: 1rem;
    
    
}

.blue {
    color:  blue;
}

details {
    /* box-shadow: 2px 2px 4px grey; */
    border-radius: 5px;
    /* border: 1px solid grey; */

}

summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    /* justify-content: space-between; */
}

summary p{
    /* display: inline-block; */
    /* font-weight: 600; */
    color: black;
    padding: 0px;
    margin-left: 0px;

}


details p {
    /* margin-left: 1rem; */
    text-align: left;
    padding: .8rem 1rem;
    line-height: 2;
    
}


.lined {
    border: 1px solid grey;
}

.lined p {
    border: 1px solid grey;
    padding: .2rem;
}

#cols3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid transparent;
    width: 100%;
}

#cols3 p {
    padding: 10px;    
}

.cols3-equal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.cols8 {
    display:  grid;
    grid-template-columns: repeat(8, 1fr);;
    
}

#small {
    font-size: .6rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
select {
    width: 100%;
    height: 40px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
    font-weight: bold;
    font-size: .9rem;
    background-color: white;
    
}
#yforecast {
    font-weight: 600;
    font-size: 1.1rem;

}

#ymdp {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 0px;
}

#force {
    margin-top: 10px;
}
.top-margin{
    margin-top: 10px;
}

.cols2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.f-row {
    border: 1px solid grey;
}

.s-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid grey;
}

.bold-head {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bold-head p {
    text-align: center;
    font-weight: bold;
}



.med {
    margin-top: 2px px solid grey;
}
.line1 {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    
}

.line1 {
    border: 2px solid grey;
}

.line1p {
    border-right: 1px solid grey;
}

.line2p {
    border-right: 1px solid grey;
}
.line3p {
    border-left: 1px solid grey;
}

.padlow p{
    padding-bottom: .1rem; 
}


.textpad {
    padding-left: 1rem;
    padding-bottom: .2rem;
}

.head1 {
    border: 2px solid grey;
    font-weight: bold;
    padding: 1rem;
}

.head2 {
    border: 2px solid grey;
    border-right: 1px solid transparent;
}

.rows2-nil {
    display: grid;
    grid-template-columns: 1fr;
}

.main-table p{ 
    font-size: 1rem;
}


.cols2-nil{
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 2fr 1fr ;
}

.cols-half {
    display: grid;
    grid-template-columns: .5fr .5fr;
}